body{
    margin: 0;
    background-color: rgb(19,19,17);
}

a {
    text-decoration:none;
}

.fixed-homeline{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

.HomeLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 0 60px;
    background-color: rgb(19,19,17);
}

.homePageLink {
    display:inline-block;
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    border-radius: 25px;
    display: block;
    cursor:pointer;
}

.logodiv{
    flex: 0 0 250px;
}

.logo:hover{
    opacity: 0.7;
}

.cartbutton:hover{
    opacity: 0.7;
}
        
.spacer{
    flex: 1;
}

.homerowbuttons{
    flex: 0 0 250px;
    display: flex;
    align-items: center;
}

.categories{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 40px;
    flex: 1;
}

.categories a:hover{
    opacity:0.7;
}

.search-container{
    display:flex;
    align-items:center;
    flex: 1;
    padding-left: 10vw;
    gap: 10px;

}

.search-box{
    height:50px;
    font-size: 1.5em;
    background-color:transparent;
    border:none;
    transition: none;
    outline: none;
    font-family:'Dancing Script', cursive;
    color:rgb(204, 180, 126);
}
.search-box:focus {
    outline:none;
}

.search-box::placeholder{
    color: rgb(204, 180, 126);
    opacity: 0.8;
}

.search-button{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    color:rgb(204, 180, 126);
    border-radius:none;
    cursor:pointer;
    text-decoration:none;
}

.search-button:hover{
    opacity:0.7;
}

.homerowbuttons a{
    font-size: 50px;
    width: auto;
    min-width: 70px;
    padding: 0 15px;
    background-color:transparent;
    border:none;
    transition:none;
    outline:none;
    cursor:pointer;
    border-radius:20px;
    font-family: 'Dancing Script', cursive;
    font-weight:400;
    color: rgb(204, 180, 126);
}

.categories a {
    font-size: 50px;
    padding: 8px 20px;
    letter-spacing: 1px;
    color: rgb(204, 180, 126);
    font-family: 'Dancing Script', cursive;
    background-color:transparent;
    border: none;
    transition: none;
    outline: none;
    cursor: pointer;
    text-decoration:none;
}

.container{
    position:fixed;
    top:50px;
    left:50%;
    font-size: 5vw;
    transform: translateX(-50%);
    z-index:0;
}

.homepagephoto{
    width:85vw;
    height:auto;
    z-index:0;
}

.homepagedesc{
    position: absolute;
    bottom: 20%;
    left: 10px;
    margin: 0 0;
    font-family: "Roboto mono", sans-serif;
    font-weight: bold;
    color: rgb(204, 180, 126);
    background-color: rgba(19,19,17, 0.7);
    font-size: 0.8em;
    cursor:pointer;
    z-index:1;
}

.homepagephotosizediv{
    height: auto;
    padding-top:45%;
}

.content-set{
    position:relative;
    background-color: rgb(19,19,17);
    z-index:1;
}

.row1-set,
.row1-standalone,
.row2-standalone,
.row3-standalone,
.row4-standalone
{
    display: flex;
    gap: 20px;
}



.entity {
    margin-top: 2vw;
    margin-bottom: 2vw;
    flex: 1;
    cursor: pointer;
    align-items:center;
}

.entity img {
    margin-left: 4vw;
    margin-right: 4vw;
    width: 75%;
    height: auto;
    aspect-ratio: 16/9;
}

.entity p {
    text-align:center;
}

.item_name{
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 2vw;
    margin-bottom:0;
    color: rgb(204, 180, 126);
}

.item_price{
    font-family: 'Momo Signature', cursive;
    font-size: 1vw;
    color: rgb(204,180,126);
}

.items-set-top{
    box-shadow: 
        0 -10px 20px rgba(8,7,6, 0.8),
        -10px 0 20px rgba(8,7,6, 0.8),
        10px 0 20px rgba(8,7,6, 0.8);
}

.items-set-bot{
    box-shadow: 
        0 10px 20px rgba(8,7,6, 0.8),
        -10px 0 20px rgba(8,7,6, 0.8),
        10px 0 20px rgba(8,7,6, 0.8);
}

.items-standalone{
    box-shadow:
        0 -10px 20px rgba(8,7,6, 0.8),
        0 10px 20px rgba(8,7,6, 0.8),
        -10px 0 20px rgba(8,7,6, 0.8),
        10px 0 20px rgba(8,7,6, 0.8);
}

.socialtitle{
    font-family: 'Momo Signature', cursive;
    font-size: 3vw;
    text-align:center;
    color:rgb(204, 180, 126);
}

.socialcontainer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family: 'Momo Signature', cursive;
    font-size: 2vw;
    margin-bottom:2vw;
}

.socialcontainer a{
    flex: 0;
    color: rgb(204, 180, 126);
    text-decoration:none;
}